# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BaiduNetdiskDownload\深度之眼\03 图像分类\cls_06_课堂课件\cls_06\code\img_filter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
